# https://fshschool.org/docs/sushi/configuration/#exhaustive-example
id: ch.fhir.ig.ch-emed
canonical: http://fhir.ch/ig/ch-emed
url: http://fhir.ch/ig/ch-emed/ImplementationGuide/ch.fhir.ig.ch-emed
name: CH_EMED
title: CH EMED (R4)
description: Implementation Guide for the eMedication in Switzerland.
status: active
experimental: false
date: 2025-05-22
version: 6.0.0-ci-build
fhirVersion: 4.0.1
copyrightYear: 2020+
releaselabel: ci-build # ci-build | draft | qa-preview | ballot | trial-use | release | update | normative+trial-use
publisher:
  name: HL7 Switzerland
  url: https://www.hl7.ch/
contact:
  - name: HL7 Switzerland
    telecom:
      - system: url
        value: https://www.hl7.ch/
        use: work
license: CC0-1.0
copyright: CC0-1.0
jurisdiction: urn:iso:std:iso:3166#CH

dependencies:
  ch.fhir.ig.ch-core: current
  hl7.terminology.r4:
    uri: http://terminology.hl7.org/ImplementationGuide/hl7.terminology
    version: 6.5.0
  hl7.fhir.uv.extensions.r4:  
    uri: http://hl7.org/fhir/extensions/ImplementationGuide/hl7.fhir.uv.extensions
    version: 5.2.0 

pages:
  index.md:
    title: Home
  medication-treatment-plan-document.md:
    title: Medication Treatment Plan document
  medication-prescription-document.md:
    title: Medication Prescription document
  medication-dispense-document.md:
    title: Medication Dispense document
  pharmaceutical-advice-document.md:
    title: Pharmaceutical Advice document
  medication-list-document.md:
    title: Medication List document
  medication-card-document.md:
    title: Medication Card document
  usecase-german.md:
    title: Anwendungsfälle
  usecase-french.md:
    title: Cas d’application
  dosage.md:
    title: Dosage
  repeated-dispense.md:
    title: Repeated Dispense
  authorship.md:
    title: Authorship
  relationship-between-documents.md:
    title: Relationship Between Documents
  profiles.md:
    title: Profiles
  extensions.md:
    title: Extensions
  changelog.md:
    title: Change Log

menu:
  Home: index.html
  Documents:
    Medication Treatment Plan document: medication-treatment-plan-document.html
    Medication Prescription document: medication-prescription-document.html
    Medication Dispense document: medication-dispense-document.html
    Pharmaceutical Advice document: pharmaceutical-advice-document.html
    Medication List document: medication-list-document.html
    Medication Card document: medication-card-document.html
  Use Case:
    German: usecase-german.html
    French: usecase-french.html
  Guidance:
    Dosage: dosage.html
    Repeated Dispense (Prescription): repeated-dispense.html
    Authorship: authorship.html
    Relationship Between Documents: relationship-between-documents.html
  Profiles: profiles.html
  Extensions: extensions.html
  Artifacts: artifacts.html
      
# For parameters defined by core FHIR see: 
# http://build.fhir.org/codesystem-guide-parameter-code.html.
# For parameters defined by the FHIR Tools IG  see:
# http://build.fhir.org/ig/FHIR/fhir-tools-ig/branches/master/CodeSystem-ig-parameters.html
parameters:
  excludettl: true
  allow-extensible-warnings: true
  display-warnings: true
  path-expansion-params: '../../expansion-params.json' # for using SNOMED CT Swiss Extension

FSHOnly: false
applyExtensionMetadataToRoot: false
instanceOptions:
  setMetaProfile: always
  setId: always
  manualSliceOrdering: true
